.main-content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 45px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: -2vw;
    text-align: right;
    font-size: 12px;
    width: 100vw;
    padding: 3px;
}

.title{
    text-align: center;

}

.subtitle{
    float: right;
}

#italics{
    margin-top: 20px;
    float: right;
}

.scenario-selector{
    margin-top: 10%;
}

.user-submission{
    margin-top: 30%;
}

#random{
    float: right;
    display: inline;
}

#clear{
    float: right;
}

.empty-heart{
    cursor: pointer;
}